  <h2 class="text-center"><%= @article.title %><%=link_to "..âœŽ", edit_article_path%> <%=link_to "ðŸ—‘ï¸", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></h2>
  <p class="text-center"><%= @article.content %></p>
